<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
   <div class="color_head"></div>
    <div id="container">
        <!-- sara contenuta l'app -->
        <div id="left_app">
            <!-- colonna sinistra app -->
            <div id="left_header">
                <div class="left_user_profile">
                    <div class="box_image">
                        <img src="img/michele.png"  :src="user.image" alt="questa è una immagine">
                    </div>
                    <div class="box_name">
                        <h3>{{user.name}}</h3>
                    </div>
                   
                    
                </div>
                <div class="right_user_profile">
                    <ul>
                        <li>
                            <a href=""><i class="fa-solid fa-circle-notch"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa-solid fa-message"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        </li>
                    
                    </ul>
                </div>
            </div>
            
        
            <div class="left_container">
                <section id="new_messagge">
                    <div class="box_image">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="box_not">
                        <span>Ricevi notifiche di nuovi messaggi</span>
                        <a href="">attiva notifiche destkop</a>
                    </div>

                </section>
                <section id="research_chat">
                    
                        <i class="fa-solid fa-magnifying-glass sub_title"></i>
                        <input type="text" placeholder="cerca o inizia una nuova chat" v-model="searchName" @keyup="searchUser">
                    
                </section>
                <section id="contact">
                    <div class="item" v-for="(item, i) in contacts" :key="i"
                    @click ="userChat(i)"
                    :class="{'active': item.visible}"
                    v-if="item.search === true"
                    >
                        <!-- contatti  -->
                        <div class="box_image">
                            <img :src="item.image" alt="questa è una immagine">
                        </div>
                        <div class="box_name">
                            <h3>{{item.name}}</h3>
                            <p class="sub_title">ultimo messaggio inviato</p>
                        </div>
                        <div class="clock">
                            <span></span>
                        </div>
                        
                    </div>
                </section>
            </div>

        </div>
        <div id="right_app">
            <div id="right_header" v-for="profile, profileIndex in contacts" :key="profileIndex" v-if="profile.visible === true">
                <!-- immagine del profilo del utente -->
                <div class="left_chat_profile">
                    <div class="box_image">
                        <img  :src="profile.image" alt="questa è una immagine">
                    </div>
                </div>
                <div class="right_chat_profile">
                    <div class="box_name">
                        <h3>{{profile.name}}</h3>
                        <p class="sub_title">ultimo messaggio inviato</p>
                    </div>
                    <ul>
                        <li>
                            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa-solid fa-paperclip"></i></a>
                        </li>
                        <li>
                            <a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a>
                        </li>
                    
                    </ul>
                    

                </div>
            </div>
            <div class="right_container">
                <!-- colonna con contenuto messaggi dove a seconda della tipologia di messaggio
                cambiano le classi justfy-content e background-color -->
                <div class="row" v-for="(contact, chatIndex) in contacts" :key="chatIndex" v-if="contact.visible === true" >
                    <div class="item_messagge"
                    v-for="(message, messageIndex) in contact.messages" :key="messageIndex"
                    :class="message.status === 'sent' ? 'tosend' : 'received' ">
                        {{message.text}}
                        <!-- <span>contenuto orario</span> -->
                    </div>
                </div>
                
            </div>
            <div class="text_container">
                <div class="smile">
                    <i class="fa-solid fa-face-smile"></i>
                </div>
                <div class="text">
                    <input type="text" placeholder="scrivi un messaggio" v-model="newMessage.text"  @keyup.enter="sendMessagge">
                </div>
                <div class="vocal">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>

        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>