@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #DBDBD3;
    position: relative;
    height: 100vh;
    font-family: Lato, sans serif;
}

.color_head{
    background-color:  #009688;
    height: 200px;
}
#container{
    width: 80%;
    height: 1200px;
    margin: 0 auto;
    background-color: white;
    position: absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%);
    display: flex;

}

#left_app{
    width: 30%;
    height: 100%;
    
}

#right_app{
    width: 70%;
    height: 100%;
    border-left: 1px solid #E9EBEB;

}
/* parte di sinistra nel user con immagine e nome */
#left_header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EAEAEA;
}

 .box_image{
   width: 50px;
   height: 50px;
   margin-left: 10px;
}

 .box_image img{
    width: 100%;
    height: 100%;
}

/* stile utente */
.left_user_profile{
 display: flex;
 align-items: center;
}

.left_user_profile .box_name{
    margin-left: 20px;
}

/* parte di destra del user con impostazioni */

.right_user_profile ul {
   display: flex;
   margin-right: 20px;
 }

.right_user_profile ul li{
    list-style-type: none;
    margin-left: 20px;

}

.right_user_profile ul li a{
    text-decoration: none;
    color: #B1B1B1;
    font-size: 20px;
}

/*  sezione notifiche  */
#new_messagge{
    width: 100%;
    height: 80px;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
}

#new_messagge .box_not{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

#new_messagge .box_image {
   position: relative;
   background-color: white;
   border-radius: 50px;
}

#new_messagge .box_image i{
    font-size: 18px;
    color: #8EDAFC;
    position: absolute; 
    top:50%; 
    left:50%; 
    transform:translate(-50%, -50%);
    
}

#new_messagge .box_not a{
    color: #6B7376;
    
}

/* ricerca chat */
#research_chat{
    width: 95%;
    height: 50px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    padding: 5px;
    border: 1px solid #E9EBEB;
}

#research_chat i{
   margin: 0 auto;
   color: #6B7376;
    
}

#research_chat input{
    width: 90%;
    height: 100%;

}

#contact .box_name{
margin-left: 20px;
margin-right: 140px;
}
/* contatti */
.item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 80px;
    border-top: 1px solid #e9ebebe2;
    
}

.active{
    background-color: #E9EBEB;
}

.sub_title{
    color :#6B7376;
}




/* parte di destra */
/* testata parte destra */
.left_chat_profile{
 width: 10%;
}

#right_header{
    width: 70%;
    height: 70px;
    background-color: #EAEAEA;
    display: flex;
    align-items: center;
    position: fixed;
}

.right_chat_profile{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.right_chat_profile ul{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.right_chat_profile ul li{
    list-style-type: none;
    margin-left: 20px;
   
}

.right_chat_profile ul li a{
    text-decoration: none;
    color: #B1B1B1;
    font-size: 20px;
}
 /* contenuto chat */
 .right_container{
     width: 100%;
     height: calc(100vh - 150px);
     background-image: url("img/sfondo-chat.webp");
     padding-top: 100px;
 }

 /* classi messaggi */
 .row{
     
     width: 80%;
     margin: 0 auto;
     min-height: 70px;
     margin-bottom: 20px;
     display: flex;
     flex-direction: column;
     

 }

 .item_messagge{
     width: 300px;
     height: 100%;
     padding: 10px 0;
     border-radius: 10px;
     background-color: white;
     display: flex;
     justify-content: space-around;
 }

 .received{
     background-color: #fff;
 }

 .tosend{
     background-color: #D5F9BA;
     align-self: flex-end;
 }

 .right{
     justify-content: end;
 }

 /* text container */
 .text_container{
     width: 100%;
     height: 70px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #F3EEEA;
 }

 .smile, .vocal{
     width: 10%;
     text-align: center;
     color: #6B7376;
     font-size: 28px;
 }

 .text{
     width: 80%;
 }

 .text input{
     width: 100%;
 }

